[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chevron = "*"
python3-nmap = "*"
requests = "*"
"ruamel.yaml" = "*"

[dev-packages]

[requires]
python_version = "3.7"
