# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Copyright 2020 David Seaward

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chevron = ">=0.13, <0.14"
click = ">=7.0, <8.0"
requests = ">=2.24, <3.0"
"ruamel.yaml" = ">=0.16, <0.17"

[dev-packages]
reuse = "*"
setuptools-git = "*"
twine = "*"

[dev-packages.e1839a8]
path = "."
editable = true
